<div class='devise'>
  <div class='login-container'>
    <div id='Login'>
      <div class="login-left">
        <%= image_tag "/icons/logos/logo-white.svg", alt: "logo", class: 'icon-80' %>
      </div>

      <div class="login-right">
        <div class="container">
          <h1>Login</h1>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
            <div class='form-group'>
              <%= f.label :email, image_tag("/icons/mail.svg", alt: "email", class: "icon-30") %>
              <%= f.email_field :email, 
                  autofocus: true, 
                  autocomplete: "email", 
                  class: "form-control", 
                  placeholder: "Email" %>
            </div>

            <div class='form-group'>
              <%= f.label :password, image_tag("/icons/lock.svg", alt: "password", class: "icon-30") %>
              <%= f.password_field :password, 
                  autocomplete: "current-password", 
                  class: "form-control", 
                  placeholder: "Password" %>
            </div>

            <div class="signup">
              <p>
                Don't have an account?
                <%= link_to "Sign up", "#" %>
              </p>
            </div>
            
            <div class='form-actions'>
              <div class='remember-me'>
                <%= f.check_box :remember_me, id: 'remember_me' %>
                <%= f.label :remember_me %>
              </div>

              <%= f.submit "Login" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>